@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text: white;
  --btn: #4568d4;
  --bg: #0d0c22;
  --bgSoft: #2d2b42;
  --textSoft: #e5e5e5;
}

.container {
  margin-inline: auto;
  padding-inline: 10px;
}
body {
  background-color: var(--bg);
  color: var(--text);
}
